*{
  padding:0;
margin:0;
box-sizing:border-box;
}
html,body{
  scroll-behaviour:smooth;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size:1.2rem;
  }
#navbar{
    position:fixed;
  left:0;
  top:0;
  width:300px;height:100%;
  min-width:300px;
border-right: 2px solid darkgreen;

}
#navbar header{
  color:lightgreen;
  background:darkgreen;
  padding:10px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: thin;
  }
  #navbar ul{
background:lightgreen;  
    height:100%; 
    }
  #navbar li{
  border-top: 2px solid darkgreen;
  list-style: none;font-weight:bold;
    width: 100%;line-height:2;
  }
  /* #navbar li:last-of-type{
      border-bottom: 2px solid darkgreen;

  } */
   #navbar a{display:block;color:darkgreen;
   text-decoration:none;
   padding:10px 30px;
   text-align:center;
     cursor: pointer;
     }
         #navbar a:hover{color:lightgreen;
  background:darkgreen;  
   }
   #navbar a:active{color:lightblue;
  background:rgb(117, 173, 87);
  }
#main-doc {
  position: absolute;
  left: 300px;
  top:0px
  color:darkblue;
  background:lightblue;
  }

#main-doc header{
  position:sticky;
  top:0;
    z-index:1;
  font-weight:bold;
  padding:20px;
color:lightblue;
text-align:center;
  background:darkblue;
  font-size:2.5rem;
  }
#main-doc img{
  width:40%;position:relative;left:30%;
  height:50%;
}
#main-doc .enlarge{
  width:100%;
  height:700px;position:relative;left:0%;

}
#main-doc p,ol{
    margin-left:25px;
}
@media only screen and (max-width: 1000px) {
 #navbar{
    position:fixed;
  left:0;
  top:0;
  height:0;
  min-width:100%;
  z-index:2;
border-right: none;

}
 #navbar ul{
 display:flex; flex-flow:column wrap;
align-content:space-evenly;
align-content:space-evenly;
height:120px;
background:lightgreen;
    }
  #navbar li{
  border-top: none;
  list-style: none;font-weight:bold;
    width: 25%;line-height:0.8;
  }
   #navbar a{color:darkgreen;
   text-decoration:none;
   padding:10px 0px;
   text-align:center;
     cursor: pointer;
     }
     #main-doc {
  position:absolute;
  top:170px;
  left: 0px;
  
  color:darkblue;
  background:lightblue;
  }

}